html {
    font-family: monospace;
}

a {
    display: block;
}

img, .background {
    background-size: cover;
    display: inline-block;
    height: 100px;
    width: 150px;
}

.background {
    background-color: red;
}

#css-background-relative-jpg {
    background-image: url('../images/jpg-css-background-relative.jpg');
}