html {
    font-family: monospace;
}

a {
    display: block;
}

div, img {
    display: block;
    height: 100px;
    width: 150px;
}

#css-background-image {
    background-image: url('../../images/dog.jpg');
}
